* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 233, 187);
}

#forgetPassword {

    max-width: 700px;
    width: 100%;
    background: #597969;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 18px;
    font-weight: 1500;
    height: 20px;
    text-align: center;
    color: rgb(254, 254, 254);
    /* margin-bottom: -2px; */
}

#input-form {
    margin: 16px 10px -16px 0;
   
}

#input-email {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    color:#27362f;
}

#inputCodeSubmit{
    display:block;
    margin:0 auto;
    margin-top: 20px;
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #27362f;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;

    transition: .5s;
}

#inputCodeSubmit:hover {
    background-color: #8fc0a9;
}

@media screen and (max-width: 800px) {
    #input-email {
        grid-template-columns:25% 50% 30%
    }
}